html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

title {
  color:#02ccba;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
header{
  height:90px;
  color:white;
  background-color:#4169e1;
}

.header-logo{
  float:left;
  font-size:36px;
  padding:40px 40px;
}

.header-list li{
  float:left;
  padding:33px 20px;
}

.top-wrapper{
  padding:100px 80px;
  background-image:url(https://www.facebook.com/441234com/photos/a.238587036189520/2401279616586907/?type=3&theater);
  color:white;
  text-align: center;
  background-size:cover;
}

.top-wrapper img{
  height:500px;
}

.top-wrapper h1{
  font-size:60px;
}

.top-wrapper h2{
  font-size:45px;
}

.container {
  width: 1170px;
  padding: 80px 15px;
  margin: 0 auto;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

/* <footer>の中の<img>のCSSを指定してください */
footer img{
 width:80px;
}

/* <footer>の中の<p>のCSSを指定してください */
footer p{
 color:#b3aeb5;
 font-size:15px;
}

/* <footer>のCSSを指定してください */
footer{
 padding-top:30px;
}
